<div class="container shadow p-3 mb-5 bg-white mt-5 rounded">
  <h1 class="mt-5">Lista de Restaurantes</h1>

  <ul class="list-group">
    <% @restaurants.each do |restaurant| %>
      <li id="bg" class="list-group-item rounded m-1">
      <i class="fa-solid fa-utensils"></i>  <%= link_to restaurant.name , restaurant_path(restaurant), class: "text-decoration-none mx-1" %>
      </li>
    <% end %>
  </ul>

  <%= link_to new_restaurant_path, class: "btn btn-success mt-3" do %>
   <i class="fa-solid fa-plus"></i> Adicionar Restaurante
  <% end %>
</div>
